:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/*
#7eb56f

#e4633d

#f4d35e

#7ac1bd



*/

* {
  font-family: Inter;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e4e4e4;
}

canvas {
  grid-area: a;
  z-index: 1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100lvw;
  max-height: 100lvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}
.container2 {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

.page {
  width: 100%;
  height: 100%;
  grid-area: a;
  z-index: 2;
  color: rgb(23, 21, 27);
}

.title,
.compactTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title *,
.compactTitle * {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Inter;
  font-weight: 400;
}

.title h1,
.compactTitle h1 {
  font-size: 5em;
  font-weight: 500;
  position: relative;
  top: 0.75rem;
}

.title h6,
.compactTitle h6 {
  font-size: 0.8em;
}

#login .compactTitle {
  display: none;
}

.compactTitle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compactTitle h1 {
  top: 0.22em;
}

.compactTitle h6 {
  position: relative;
  left: 1.4em;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.box {
  border: 0.4rem solid transparent;
  background: 
    linear-gradient(#cacaca, #cacaca) padding-box,
    linear-gradient(to left, #7eb56f, #e4633d, #f4d35e, #7ac1bd) border-box;
  border-radius: 3rem;
  padding: 1rem;
}

.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #2c2e43;
}

.userForm label {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.userForm input {
  font-size: 1.5rem;
  text-align: center;
}

.userForm #errorBox {
  min-height: 8rem;
}

#join {
  font-size: 1.75rem;
  margin: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.controls {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.userAvatar {
  display: flex;
  flex-direction: column;
  background-color: #2c2e43;
  height: 100%;
  max-width: 15rem;
  max-height: 25rem;
  align-items: center;
  justify-content: space-evenly;
}

.avatar {
  width: 100%;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 2rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.controls p {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

.controls * {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.controlBtn {
  cursor: pointer;
}

@media only screen and (max-width: 45rem) {
  #login {
    flex-direction: column;
  }

  .userForm {
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .userForm input {
    font-size: 1.2rem;
  }

  .userForm label {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .userForm #errorBox {
    min-height: 1.5rem;
  }

  .avatar {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  #login .compactTitle {
    display: flex;
    align-self: center;
  }

  #login .title {
    display: none;
  }
}

.page:not(#login) .compactTitle {
  position: absolute;
  top: -1rem;
  left: 0.5rem;
}

#wait {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.75fr 0.75fr;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-areas:
    ". .    .      ."
    ". text avatar ."
    ". .    .      .";
}

#wait .whatIsHappening {
  grid-area: text;
}

#wait .userPersonalization {
  grid-area: avatar;
}

.userPersonalization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.userPersonalization .usernameText {
  margin: 0;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
}

.whatIsHappening {
  margin: 0;
  padding-right: 1rem;
  font-size: 5rem;
}

#waitingForQuestion,
#waitingForAnswers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 5rem;
  text-align: center;
}

.tips {
  text-align: center;
}

@media only screen and (max-width: 45rem) {
  #wait {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  #wait .whatIsHappening {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
}

#answer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerBtns {
  height: 60%;
  width: 40rem;
  display: grid;
  margin: 1rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a a b b b"
    "c c c d d d";
  grid-gap: 1rem;
}

.answerBtns button {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: 0;
  font-size: 5rem;
  cursor: pointer;
}

.answerBtns button:hover {
  filter: grayscale(30%);
}

#answer0 {
  grid-area: a;
  background-color: #7eb56f;
}

#answer1 {
  grid-area: b;
  background-color: #e4633d;
}

#answer2 {
  grid-area: c;
  background-color: #f4d35e;
}

#answer3 {
  grid-area: d;
  background-color: #7ac1bd;
}

.answerBtns:has(#answer3:is(.hidden)) {
  width: 100%;
  max-width: 55rem;
  grid-template-areas:
    "a a b b c c"
    "a a b b c c";
}

.answerBtns:has(#answer2:is(.hidden)) {
  grid-template-areas:
    "a a a b b b"
    "a a a b b b";
}

.hidden {
  display: none;
}

@media only screen and (max-width: 100vh) {
  .answerBtns {
    width: unset;
    aspect-ratio: unset;
    width: 95%;
    height: 70%;
  }

  .answerBtns:has(#answer3:is(.hidden)) {
    display: flex;
    flex-direction: column;
  }
}

#questionableResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smolLeaderboard > * {
  display: grid;
  grid-template-columns: 68px 1.5em 12em 4em 2.5em;
  padding: 0.25rem;
}

#playerPointer {
  width: 100%;
  text-align: right;
  font-size: 0.75em;
}

.smolLeaderboard * {
  text-align: center;
  margin: auto;
  font-size: 1.4rem;
}

.player .usernameText,
.otherUsername,
#playerPoints,
.points {
  width: 100%;
  align-self: center;
}

#playerPoints,
.points {
  text-align: right;
}

.player .usernameText,
.otherUsername {
  text-align: left;
}

.miniAvatar {
  width: 100%;
  aspect-ratio: 1;
  padding: 0;
  background-color: white;
}

.player {
  background-color: #df7126;
}

#questionableResults .tips {
  font-size: 3.5rem;
}

@media only screen and (max-width: 35rem) {
  .smolLeaderboard > * {
    grid-template-columns: 52px 1.5em 12em 4em 2.5em;
  }

  .smolLeaderboard * {
    font-size: 1rem;
  }

  .miniAvatar {
    width: 100%;
    aspect-ratio: 1;
  }

  #questionableResults .tips {
    font-size: 2.5rem;
  }
}

.correctAnswer {
  background-color: #41816b;
}

.wrongAnswer {
  background-color: #aa4151;
}

#gameResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameResults .actualPage {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title title"
    "achievements avatar";
}

#gameResults * {
  font-weight: 400;
}

.endTitle {
  grid-area: title;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.achievements {
  grid-area: achievements;
  display: grid;
  grid-template-columns: 4em 1fr;
  justify-self: flex-start;
}

.achievements > * {
  grid-column-start: 1;
  grid-column-end: 3;
}

.achievements > h3 {
  text-align: center;
  grid-column-start: 2;
  margin-bottom: 0;
  font-size: 2em;
}

.avatar {
  grid-area: avatar;
}

#gameResults .row {
  display: grid;
  grid-template-columns: 1.5em 12em 4em;
  padding: 0.25rem;
}

#gameResults .row > * {
  grid-column-end: span 4;
}

#gameResults .row > *:first-child {
  margin-left: 0.25rem;
}

#gameResults #positionAchievement .row > * {
  grid-column-end: unset;
  margin-left: unset;
}

#gameResults p {
  margin: 0;
}

#gameResults #positionAchievement .row {
  background-color: #b93f3f;
}

#gameResults #positionAchievement > img {
  justify-self: center;
  align-self: flex-end;
  height: 3em;
}

#gameResults .overallPlayerPosition {
  text-align: center;
}

#gameResults .overallPlayerPoints {
  text-align: right;
}

#gameResults #ratioAchievement .row {
  background-color: #7019e9;
}

#gameResults #ratioAchievement > img {
  justify-self: center;
  align-self: flex-end;
  height: 3em;
}

#gameResults #quickestAchievement .row {
  background-color: #2a4c40;
}

#gameResults #quickestAchievement > img {
  justify-self: center;
  align-self: flex-end;
  width: 3em;
}

#gameResults #streakAchievement .row {
  background-color: #df7126;
}

#gameResults #streakAchievement > img {
  justify-self: center;
  align-self: flex-end;
  height: 3em;
}

#gameResults .achievement {
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-areas:
    "icon title"
    "icon achievement";
}

#gameResults .achievement > h4 {
  margin-bottom: 0.5rem;
  grid-area: title;
  font-size: 1.2em;
}

#gameResults .achievement > img {
  grid-area: icon;
}

#gameResults .achievement > .row {
  grid-area: achievement;
}

@media only screen and (max-width: 45rem) {
  .endTitle {
    margin-top: 7rem;
  }

  #gameResults .actualPage {
    display: flex;
    flex-direction: column;
  }

  .achievements {
    position: relative;
    right: 2em;
  }

  #gameResults .avatar {
    margin-top: 2rem;
    align-self: center;
  }
}

@media only screen and (max-width: 28rem) {
  .endTitle {
    font-size: 3rem;
  }

  .achievements {
    font-size: 0.8rem;
  }

  #gameResults .avatar {
    width: 160px;
    height: 160px;
    border-radius: 1.5rem;
  }

  .compactTitle {
    font-size: 0.8rem;
  }
}

.avatar,
.miniAvatar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.avatar > *,
.miniAvatar > * {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
}

.miniAvatar > * {
  width: 100%;
  height: 100%;
}
