:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  font-family: Inter;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #2c2e43;
}

canvas {
  grid-area: a;
  z-index: 1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100lvw;
  max-height: 100lvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a";
}

.page {
  width: 100%;
  height: 100%;
  grid-area: a;
  z-index: 2;
  color: white;
}

.compactTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compactTitle * {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Inter;
  font-weight: 400;
}

.compactTitle h1 {
  font-size: 5em;
  font-weight: 500;
  position: relative;
  top: 0.22em;
}

.compactTitle h6 {
  font-size: 0.8em;
  position: relative;
  left: 1.4em;
}

.page .compactTitle {
  position: absolute;
  top: -1rem;
  left: 0.5rem;
}

#lobby {
  display: grid;
  grid-template-rows: 7rem auto;
}

#lobby .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#lobby .buttons > * {
  margin: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3rem;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
}

#startGame {
  border: 1rem solid #223a31;
  background-color: #2a4c40;
}

#settings {
  border: 1rem solid #202338;
  background-color: #2c2e43;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

#lobby .buttons > *:hover {
  filter: grayscale(50%);
}

#playerBoard {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#playerBoard .player {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}

#playerBoard .player .username {
  font-size: 2rem;
  margin: 0;
  margin-left: 0.5rem;
}

#playerBoard .player .avatar {
  width: 64px;
  aspect-ratio: 1;
  border-radius: 8px;
  border: 0.1rem solid black;
}

.wellIDontReallyKnowHowToNameThis {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
}

.wellIDontReallyKnowHowToNameThis * {
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
}

#questionInProgress {
  display: grid;
  grid-template-rows: calc(100% - 5rem);
  grid-template-areas:
    "full"
    "progress";
}

#quizTitle,
#questionInProgress .question {
  grid-area: full;
  padding: 5rem;
  text-align: center;
  margin: auto;
  font-size: 4rem;
}

@property --percentage {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@keyframes progress {
  from {
    --percentage: 0%;
  }

  to {
    --percentage: 103%;
  }
}

.progressBar {
  grid-area: progress;
  width: 100vw;
  height: 5rem;
  animation: 10s linear both progress;
  background: linear-gradient(
    to right,
    #2a4c40,
    #2a4c40 calc(var(--percentage) - 3%),
    #2c2e43 var(--percentage),
    #2c2e43
  );
}

#answers {
  position: relative;
  display: grid;
  grid-template-rows: 15rem calc(100% - 15rem - 1rem);
  grid-template-areas:
    "question"
    "answers"
    "progress";
}

#answers .question {
  grid-area: question;
  margin: 0;
  text-align: center;
}

#answers .question {
  font-size: 2.8rem;
}

#answers .answersWithText {
  grid-area: answers;
}

#answers .compactTitle {
  position: unset;
  float: left;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: 4rem;
}

#answers .compactTitle h1 {
  font-size: 5rem;
}

#answers .compactTitle h6 {
  font-size: 0.8rem;
}

#answers .wellIDontReallyKnowHowToNameThis {
  position: unset;
  float: right;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.answersWithText {
  display: grid;
  margin: 1rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a a b b b"
    "c c c d d d";
  grid-gap: 1rem;
}

.answerText {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: 0;
  font-size: 5rem;
  color: black;
  display: flex;
}

.answerText > p {
  font-size: 2.3rem;
  align-self: center;
  padding: 0.8rem;
  text-align: center;
  margin: auto;
}

#answer0Text {
  grid-area: a;
  background-color: #b93f3f;
}

#answer1Text {
  grid-area: b;
  background-color: #7019e9;
}

#answer2Text {
  grid-area: c;
  background-color: #81e819;
}

#answer3Text {
  grid-area: d;
  background-color: #e9ce19;
}

.answerText h2 {
  margin: 0;
  font-weight: 400;
  align-self: center;
}

.answersWithText:has(#answer3Text:is(.hidden)) > .answerText {
  flex-direction: column;
}

.answersWithText:has(#answer3Text:is(.hidden)) {
  grid-template-areas:
    "a a b b c c"
    "a a b b c c";
}

.answersWithText:has(#answer3Text:is(.hidden)) .answerText > p {
  font-size: 2.5rem;
}

.answersWithText:has(#answer2Text:is(.hidden)) {
  grid-template-areas:
    "a a a b b b"
    "a a a b b b";
}

.answersWithText:has(#answer2Text:is(.hidden)) .answerText > p {
  font-size: 3rem;
}

.hidden {
  display: none;
}

#answers .progressBar {
  height: 1rem;
}
